# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
.venv/
env/
.env/

# Environment variables
.env
.env.*
*.env

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Test / coverage
.coverage
htmlcov/
.pytest_cache/


checkpoints/
onnx/
dataset/raw/
__pycache__/
*.pyc